<!DOCTYPE html>
<html lang="lt">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Nextweb | Task</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="static/stylesheets/style_reset/style_reset.css">
    <link rel="stylesheet" href="static/stylesheets/general/general.css">
    <link rel="stylesheet" href="static/stylesheets/header/header.css">
    <link rel="stylesheet" href="static/stylesheets/mobileNav/mobileNav.css">
    <link rel="stylesheet" href="static/stylesheets/section/section.css">
    <link rel="stylesheet" href="static/stylesheets/cards/cards.css">
    <link rel="stylesheet" href="static/stylesheets/footer/footer.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&family=Red+Hat+Text&display=swap" rel="stylesheet">

</head>



<body>

    <div class="header__mobileNav">
        <span class="header__mobileNavClose">X</span>
        <ul>
            <a href="#" class="header__navItem"><li><span class="header__navItemIndicator"></span>People</li></a>
            <a href="#" class="header__navItem"><li><span class="header__navItemIndicator"></span>Products</li></a>
            <a href="#" class="header__navItem"><li><span class="header__navItemIndicator"></span>Career</li><span class="header__careerPositionCount">16</span></a>
            <a href="#" class="header__navItem header__navItem--active"><li><span class="header__navItemIndicator header__navItemIndicator--active"></span>Blog</li></a>
        </ul>
    </div>

    <header class="header">
        <div class="header-container">

            <div class="header__upperSide">
                <div class="header__logo">
                    <img src="./static/images/Logo.svg" alt="Logo">
                </div>
    
                <div class="header__nav hide-mobile">
                    <ul>
                        <a href="#" class="header__navItem"><li><span class="header__navItemIndicator"></span>People</li></a>
                        <a href="#" class="header__navItem"><li><span class="header__navItemIndicator"></span>Products</li></a>
                        <a href="#" class="header__navItem"><li><span class="header__navItemIndicator"></span>Career</li><span class="header__careerPositionCount">16</span></a>
                        <a href="#" class="header__navItem header__navItem--active"><li><span class="header__navItemIndicator header__navItemIndicator--active"></span>Blog</li></a>
                    </ul>
                </div>

                <!-- Mobile menu -->
                <div id="hamburgerMenu" class="header__hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

            </div>

            <div class="header__pageContent">
                <img src="./static/images/header-particle.svg" class="header__particle" alt="Particle">
                <div>
                    <h1 class="header__pageTitle">Lorem Ipsum dolor sit amet</h1>
                    <h5 class="header__pageSubtitle">EMPLOYEE STORIES</h5>
                </div>
                <div class="header__socialIcons hide-mobile">
                    <h6 class="header__socialIconsTitle">SHARE</h6>
                    <ul>
                        <a href="#" class="header__socialIconItem"><li>
                            <img src="./static/icons/Facebook-icon.svg" alt="Facebook icon" />
                        </li></a>
                        <a href="#" class="header__socialIconItem"><li>
                            <img src="./static/icons/Messenger-icon.svg" alt="Facebook icon" />
                        </li></a>
                        <a href="#" class="header__socialIconItem"><li>
                            <img src="./static/icons/Twitter-icon.svg" alt="Facebook icon" />
                        </li></a>
                        <a href="#" class="header__socialIconItem"><li>
                            <img src="./static/icons/Instagram-icon.svg" alt="Facebook icon" />
                        </li></a>
                        <a href="#" class="header__socialIconItem"><li>
                            <img src="./static/icons/LinkedIn-icon.svg" alt="Facebook icon" />
                        </li></a>
                    </ul>
                </div>
            </div>

        </div>
    </header>

    <section class="section">
        <div class="container">

            <h2 class="section__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <p class="section__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique venenatis, velit mollis sollicitudin elit feugiat. Vitae eu enim, mauris amet facilisis aenean morbi ac vitae. Diam a netus tortor viverra fermentum scelerisque ullamcorper massa. Fermentum at ultrices in pretium. Lectus pulvinar eget molestie vel.<br><br>Sit sed id gravida fames a mollis volutpat neque. Enim venenatis ac vel tortor bibendum morbi arcu tincidunt. Et velit dui, mattis nunc, dolor massa adipiscing. Viverra ut mus convallis vulputate gravida. Id gravida ut ut in faucibus mi. At lacinia magna dui odio.</p>

        </div>
    </section>

    <section class="section section__fullWidth section__fullWidthImg">
        <img src="./static/images/Office-img.jpg" alt="Image from the office life">
    </section>

    <section class="section">
        <div class="container">

            <h2 class="section__title">Consectetur adipiscing elit</h2>
            <p class="section__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique venenatis, velit mollis sollicitudin elit feugiat. Vitae eu enim, mauris amet facilisis aenean morbi ac vitae. Diam a netus tortor viverra fermentum scelerisque ullamcorper massa. Fermentum at ultrices in pretium. Lectus pulvinar eget molestie vel. Sit sed id gravida fames a mollis volutpat neque. Enim venenatis ac vel tortor bibendum morbi arcu tincidunt. Et velit dui, mattis nunc, dolor massa adipiscing. Viverra ut mus convallis vulputate gravida. Id gravida ut ut in faucibus mi. At lacinia magna dui odio praesent gravida faucibus. Feugiat semper tincidunt ut in sed id. Nullam tellus viverra lectus vitae mauris id malesuada.<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique venenatis, velit mollis sollicitudin elit feugiat. Vitae eu enim, mauris amet facilisis aenean morbi ac vitae. Diam a netus tortor viverra fermentum scelerisque ullamcorper massa.</p>

        </div>
    </section>

    <section class="section section__related">
        <div class="container">
            <h3 class="section__title">Related articles</h3>
            <div class="section__cardsContainer">
                <div class="card">
                    <img src="./static/images/Blog-1.jpg" alt="" class="card__img">
                    <div class="card__content">
                        <p class="card__subTitle">COMPANY NEWS</p>
                        <h4 class="card__title">New office cursus nulla arcu, at ultricies est quis lorem ip</h4>
                        <a href="#" class="card__link">Read story <img src="./static/icons/Arrow-right-icon.svg" class="card__linkArrow" alt="Arrow"></a>
                    </div>
                </div>
                <div class="card">
                    <img src="./static/images/Blog-2.jpg" alt="" class="card__img">
                    <div class="card__content">
                        <p class="card__subTitle">COMPANY NEWS</p>
                        <h4 class="card__title">New office cursus nulla arcu, at ultricies est quis lorem ip</h4>
                        <a href="#" class="card__link">Read story <img src="./static/icons/Arrow-right-icon.svg" class="card__linkArrow" alt="Arrow"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="footer-container">

            <a href="#" class="footer__email">hello@kilo.health</a>

            <div class="footer__socialIcons">
                <ul>
                    <a href="#" class="footer__socialIconItem"><li>
                        <img src="./static/icons/Facebook-icon.svg" alt="Facebook icon" />
                    </li></a>
                    <a href="#" class="footer__socialIconItem"><li>
                        <img src="./static/icons/Instagram-icon.svg" alt="Facebook icon" />
                    </li></a>
                    <a href="#" class="footer__socialIconItem"><li>
                        <img src="./static/icons/LinkedIn-icon.svg" alt="Facebook icon" />
                    </li></a>
                </ul>                
            </div>

        </div>
    </footer>
    

    <!-- Scripts -->
    <script src="./static/scripts/navigationTrigger.js"></script>

</body>

</html>