/* Always use rems. 1 rem = 10 px */

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Red Hat Text', sans-serif;
}

.header-container,
.footer-container,
.container {
    width: 75%;

    position: relative;

    display: flex;
    flex-direction: column;

    z-index: 2;
}

.footer-container {
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.8rem;
    }
}

.container {
    width: 65%;
}

@media only screen and (max-width: 500px) {
    .hide-mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 1440px) {

    .container {
        width: 72%;
    }

    .header-container,
    .footer-container {
        width: 85%;
    }

}

@media only screen and (max-width: 500px) {

    .container,
    .header-container,
    .footer-container {
        width: 90%;
    }
}